<main class="login">
  <div class="login__wrapper">
    <h1 class="login__title">Вход</h1>
    <form class="login__form" name="login">
      <div class="login__inputs-wrapper">
        {{{inputLogin}}}
        {{{inputPassword}}}
      </div>
      <div class="login__buttons-wrapper">
        <p class="login__error-message"></p>
        {{{button}}}
        {{{buttonRegister}}}
      </div>
    </form>
  </div>
</main>
