<div class='input'>
  <label class='input__label'>{{label}}</label>
  <input
    class='input__inner'
    placeholder={{placeholder}}
    name={{name}}
    type={{type}}
    required
  />
  <p class='input__error'></p>
</div>
