<div class="my-message">
  <div class="my-message__avatar"></div>
  <div class="my-message__content-wrapper">
    <div class="my-message__content">
      {{{content}}}
    </div>
    <div class="my-message__info-wrapper">
      <span class="my-message__status {{#if isread}}my-message__status_read{{/if}}"></span>
      <span class="my-message__time">{{{time}}}</span>
    </div>
  </div>
  <div class="my-message__avatar">
    {{{avatarMyImage}}}
  </div>
</div>
