.button {
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: var(--first-color);
  padding: 12px 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 280px;
  width: 100%;
}

.button_disabled {
  background-color: var(--secondary-color);
  color: var(--text-secondary);
  cursor: auto;
}
