<nav class="menu-burger">
  <ul class="menu-burger__list">
    <li><a class="menu-burger__link menu-burger__link_add text-link" href="../add_user/">Добавить пользователя</a></li>
    <li><a class="menu-burger__link menu-burger__link_delete text-link" href="../remove_user/">Удалить пользователя</a></li>
  </ul>
</nav>
