.menu-burger {
  position: absolute;
  border-radius: 15px 0 15px 15px;
  background: var(--main-color-light);
  right: 30px;
  top: 0;
  padding: 10px 20px;
}

.menu-burger__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.menu-burger__link {
  color: var(--text-secondary);
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  display: block;
  padding-left: 40px;
  height: 25px;
  background-size: 25px 25px;
}

.menu-burger__link_add {
  background: url(../../assets/icons/add_burger.svg) no-repeat left center;
}
.menu-burger__link_delete {
  background: url(../../assets/icons/delete.svg) no-repeat left center;
}
