<nav class="menu-attach">
  <ul class="menu-attach__list">
    <li><a class="menu-attach__link menu-attach__link_foto text-link">Фото и видео</a></li>
    <li><a class="menu-attach__link menu-attach__link_file text-link">Файл</a></li>
    <li><a class="menu-attach__link menu-attach__link_location text-link">Локация</a></li>
  </ul>
</nav>
