<nav class="menu-burger">
  <ul class="menu-burger__list">
    <li><a class="menu-burger__link menu-burger__link_add text-link">Фото и видео</a></li>
    <li><a class="menu-burger__link menu-burger__link_delete text-link">Файл</a></li>
  </ul>
</nav>
