.menu-attach {
  position: absolute;
  border-radius: 15px 15px 15px 0;
  background: var(--main-color-light);
  left: 30px;
  bottom: 0;
  padding: 10px 20px;
}

.menu-attach__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.menu-attach__link {
  color: var(--text-secondary);
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  display: block;
  padding-left: 40px;
  height: 25px;
  background-size: 25px 25px;
  cursor: pointer;
}

.menu-attach__link_foto {
  background: url("../../assets/icons/foto.svg") no-repeat left center;
}

.menu-attach__link_file {
  background: url("../../assets/icons/file.svg") no-repeat left center;
}

.menu-attach__link_location {
  background: url("../../assets/icons/location.svg") no-repeat left center;
}
