.profile__avatar-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  margin-bottom: 21px;
  border-radius: 50%;
  background: var(--main-color-light)
}

.profile__avatar-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__avatar-btn {
  width: 130px;
  height: 130px;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: var(--main-color-medium) url("../../assets/icons/avatar_upload.svg") no-repeat center;
  opacity: 0;
  transition: .3s opacity linear;
}

.profile__avatar-btn:hover {
  cursor: pointer;
  opacity: 1;
}
