<nav class="temp-menu">
  <ul class="temp-menu__list">
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../register/">Регистрация</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../login/">Войти</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../profile/">Профайл</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../profile_edit/">Профайл редактирование профиля</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../profile_edit_password/">Профайл сменить пароль</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../404/">404 Страница не найдена</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../500/">500 Ошибка сервера</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../profile_edit_avatar/">Загрузка аватара</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../chat_empty/">Пустой чат</a></li>
    <li class="temp-menu__list-item"><a class="temp-menu__link text-link" href="../chat_not_empty/">Не пустой чат</a></li>
  </ul>
</nav>
