<div class='profile__avatar-wrapper'>
  {{#if avatar}}<input src={{avatar}} alt={{alt}} class='profile__avatar-image' type="image" name="avatar" />{{/if}}
  <button class='profile__avatar-btn' type='button'></button>
</div>
