@import './vendor/reset.css';
@import './vendor/fonts/fonts.css';
@import './vendor/color-variables.css';

html {
  height: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}


body {
  height: 100%;
  color: var(--text-primary);
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--first-color);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
